<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
       <section id="cadastro">
        <form method="post" action="/editar/<%= filmeAtual.id %>">
            <fieldset id="fieldPrincipal">
            <h2>Editar Filme</h2>
            <fieldset>
                <input type="text" name="nome" required value="<%= filmeAtual.nome %>">
                <label for="nome"> Nome </label>
            </fieldset>

            <fieldset>
                <input type="text" name="diretor" required value="<%= filmeAtual.diretor %>">
                <label for="diretor"> Diretor </label>
            </fieldset>

            <fieldset>
                <input type="url" name="imagem" required value="<%= filmeAtual.imagem %>">
                <label for="imagem"> Imagem </label>
            </fieldset>

            <fieldset>
                <input type="number" name="ano" required value="<%= filmeAtual.ano %>">
                <label for="ano"> Ano </label>
            </fieldset>

            <fieldset>
                <input type="text" name="sinopse" required value="<%= filmeAtual.sinopse %>">
                <label for="sinopse"> Sinopse </label>
            </fieldset>

            <button id="button" type="submit">Confirmar Edição</button>

            </fieldset>
            
        </form>

       </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>